h1,
p {
  font-family: Lato;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.parent {
  background-color: bisque;
  padding: 10px;
  text-align: center;
  color: blue;
}

.child {
  background-color: gray;
  color: yellow;
  padding: 10px;
}
